// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	color:#7b0505;
}

#error_explanation{
	color:red;
}
img#blah {
    margin: -150px 0px -50px 200px;
}

